:root {
    --light-blue: #B4D0E7;
    --black: #000000;
    --white: #ffffff;
    --blue: #0161FF;
    --light-grey: #F5F5F5;
    --purple: #753f63;
    --logo-color-green: #A3D39B;
    --logo-color-burgundy: #61082B;
    --logo-color-sky: #0093CE;
    --logo-color-light-red: #FF1D1D;
    --logo-color-red: #FF1D1D;
    --logo-color-dark-blue: #0D2481;
    --logo-color-yellow: #FFD830;
}

/*----generals----*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open sans', sans-serif;
    color: var(--black)
}

ul {
    list-style: none;
    gap: 25px;
}

img {
    width: 100%;
    display: block;
}

h1 {
    font-size: 5em;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.5;
}

/*----utilities----*/

.debug {
    border: 1px solid red;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-s {
    max-width: 1000px;
    margin: 0 auto;
}

.w-30 {
    width: 30%;
}

.w-70 {
    width: 70%;
}

.p-15 {
    padding: 15px;
}

.m-top {
    margin-top: 25px;
}

/*----text utilities----*/

.t-purple {
    color: var(--purple);
}

/*----flex utilities----*/

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.row-reverse {
    flex-direction: row-reverse;
}

.align-items-center {
    align-items: center;
}

.align-items-stretch {
    align-items: stretch;
}

/*----backgrounds----*/

.bg-light-blue {
    background-color: rgb(145, 185, 225);
}

.bg-green {
    background-color: var(--logo-color-green);
}

.bg-burgundy {
    background-color: var(--logo-color-burgundy);
}

.bg-sky {
    background-color: var(--logo-color-sky);
}

.bg-light-red {
    background-color: var(--logo-color-light-red);
}

.bg-red {
    background-color: var(--logo-color-red);
}

.bg-dark-blue {
    background-color: var(--logo-color-dark-blue);
}

.bg-yellow {
    background-color: var(--logo-color-yellow);
}

.bg-light-grey {
    background-color: var(--light-grey);
}

/*----header----*/

header {
    background-color: var(--white);
    padding: 20px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
}

header img {
    height: ;
}

/*----main----*/

#jumbo {
    padding-top: 50px;
}

#jumbo .container {
    position: relative;
    top: 100px;
}

.button {
    background-color: var(--blue);
    color: var(--white);
    padding: 10px;
}

.arrow-down {
    font-size: 50px;
    position: absolute;
    bottom: 110px;
    left: 15px;
}

#plans {
    margin-top: 100px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.col {
    width: calc((100% - 20px) / 3);
}

.customers-brand>div {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.brand {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand img {
    width: 50%;
    filter: invert(100%);
}

/*----footer----*/

footer {
    background-color: var(--black);
    color: var(--white);
    padding-top: 20px;
}