:root {
    --light-blue: #B4D0E7;
    --black: #000000;
    --white: #ffffff;
    --blue: #0161FF;
    --light-grey: #F5F5F5;
    --grey: #c7c6c6;
    --purple: #753f63;
    --logo-color-green: #A3D39B;
    --logo-color-burgundy: #61082B;
    --logo-color-sky: #0093CE;
    --logo-color-light-red: #FF1D1D;
    --logo-color-red: #FF1D1D;
    --logo-color-dark-blue: #0D2481;
    --logo-color-yellow: #FFD830;
}

/*----generals----*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open sans', sans-serif;
    color: var(--black)
}

ul {
    list-style: none;
    gap: 25px;
}

img {
    width: 100%;
    display: block;
}

h1 {
    font-size: 5em;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.5;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    line-height: 5;
}

/*----utilities----*/

/*.debug {
    border: 1px solid red;
}*/

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-s {
    max-width: 1000px;
    margin: 0 auto;
}

.w-30 {
    width: 30%;
}

.w-70 {
    width: 70%;
}

.p-15 {
    padding: 15px;
}

.p-top-40 {
    padding-top: 40px;
}

.p-bottom-40 {
    padding-bottom: 40px;
}

.m-top {
    margin-top: 25px;
}

/*----text utilities----*/

.t-purple {
    color: var(--purple);
}

.t-blue {
    color: var(--blue);
}

.t-center {
    text-align: center;
}

.t-underline {
    text-decoration: underline;
}

.t-bold {
    font-weight: bold;
    color: black;
}

.t-lighter {
    font-weight: lighter;
    color: black;
}

/*----flex utilities----*/

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.row-reverse {
    flex-direction: row-reverse;
}

.align-items-center {
    align-items: center;
}

.align-items-stretch {
    align-items: stretch;
}

/*----backgrounds----*/

.bg-light-blue {
    background-color: rgb(145, 185, 225);
}

.bg-green {
    background-color: var(--logo-color-green);
}

.bg-burgundy {
    background-color: var(--logo-color-burgundy);
}

.bg-sky {
    background-color: var(--logo-color-sky);
}

.bg-light-red {
    background-color: var(--logo-color-light-red);
}

.bg-red {
    background-color: var(--logo-color-red);
}

.bg-dark-blue {
    background-color: var(--logo-color-dark-blue);
}

.bg-yellow {
    background-color: var(--logo-color-yellow);
}

.bg-light-grey {
    background-color: var(--light-grey);
}

/*----borders----*/

.border-grey {
    border: 1px solid var(--light-grey);
}

.bottom-grey {
    border-bottom: 1px solid var(--light-grey);
}

.top-black {
    border-top: 1px solid var(--black);
}

.bottom-black {
    border-bottom: 1px solid var(--black);
}

/*----header----*/

header {
    background-color: var(--white);
    padding: 20px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
}

header ul li a {
    color: var(--black);
}

/*----main----*/

section,
.customers-brand {
    margin-top: 100px;
}

#jumbo {
    padding-top: 30px;
    margin-top: 0;
}

#jumbo .container {
    position: relative;
    top: 100px;
}

.fa-arrow-down {
    color: var(--black);
    font-weight: bolder;
}

.button {
    background-color: var(--blue);
    color: var(--white);
    padding: 6px 12px;
}

.big-button {
    background-color: var(--blue);
    color: var(--white);
    display: block;
    text-align: center;
}

.button-white {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
    padding: 12px 25px;
}

.btn-white-no-border {
    background-color: var(--white);
    color: var(--black);
    padding: 12px 25px;
}

.arrow-down {
    font-size: 50px;
    position: absolute;
    bottom: 110px;
    left: 15px;
}

#plans {
    margin-top: 100px;
}

#plans .fa-ul {
    margin-left: 20px;
}

#features h3 {
    line-height: normal;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.col {
    width: calc((100% - 80px) / 3);
}

.col hr {
    color: var(--grey);
    width: 20%;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 40px;
}

.col li {
    line-height: 1.5;
}

.row div {
    line-height: 3;
}


.fa-check {
    color: var(--blue);
    font-weight: bolder;
}

#customers-t img {
    padding: 50px;
    width: 60%;
}

#customers hr {
    color: var(--grey);
    width: 20%;
    text-align: left;
    margin-left: 50px;
}

#customers p {
    margin: auto 50px;
    margin-top: 45px;
}

.customers-brand>div {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.brand {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand img {
    width: 50%;
    filter: invert(100%);
}

#call-to-action {
    height: 300px;
    align-content: center;
    margin-top: 0;
}

.fa-angle-down {
    margin-left: 200px;
}

.dropdown {
    display: none;
}

ul li:hover .dropdown {
    display: block;
    padding-top: 30px;
}

/*----footer----*/

footer {
    background-color: var(--black);
    color: var(--white);
    padding-top: 20px;
    margin-top: 100px;
}

footer hr {
    color: var(--white);
    width: 10%;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer-top h4 {
    padding-bottom: 20px;
}

.footer-top ul li a {
    color: white;
    line-height: 2;
    font-weight: lighter;
}

.fa-earth-americas {
    color: var(--grey);
}

#languages {
    background-color: var(--black);
    color: var(--grey);
    border: none;
}