:root {
    --light-blue: #B4D0E7;
    --black: #000000;
    --white: #ffffff;
    --blue: #0161FF;
    --light-grey: #F5F5F5;
    --purple: #753f63; 
    --logo-color-green: #A3D39B;
    --logo-color-burgundy:  #61082B;
    --logo-color-blue: #0093CE;
    --logo-color-light-red: #FF1D1D;
    --logo-color-red: #FF1D1D;
    --logo-color-dark-blue: #0D2481;
    --logo-color-yellow: #FFD830;
}

/*----generals----*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open sans', sans-serif;
    color: var(--black)
}

/*----utilities----*/

.debug {
    border: 1px solid red;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-s {
    max-width: 1000px;
    margin: 0 auto;
}

/*----flex utilities----*/

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

/*----background----*/

.bg-light-blue {
    background-color: rgb(145, 185, 225); 
}

/*----footer----*/

footer {
    background-color: var(--black);
    color: var(--white);
}